
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #34353b;
}

header {
    height: 100vh;
    padding: 36px 100px;
    background-image: url(asset/images/z5046413768021_005ad77d038b39bf33d00120314fedee__1_-removebg-preview.png);
    background-position: calc(100% - 150px) center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    z-index: 99;
}

header nav img {
    height: 56px;
    width: 56px;
    object-fit: contain;
    filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg) brightness(103%) contrast(106%);
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 0px 20px;
}

header nav ul li a {
    color: #98999a;
    text-decoration: none;
    transition: all ease 0.5s;
}

header nav ul li a:hover {
    color: #fbfbfb;
}

header nav ul li .active {
    color: #fbfbfb;
}

header nav .search {
    height: 48px;
    width: 200px;
    background-color: #3d3e42;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    border-radius: 10px;
}

header nav .search input {
    border: none;
    background-color: transparent;
    width: 80%;
    color: #fbfbfb;
    outline: none;
}

header nav .search input::placeholder {
    color: #98999a;
    font-size: 16px;
}

header nav .search i {
    color: #98999a;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fbfbfb;
    margin: 4px;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    margin: 0 20px;
}

.nav-links ul li a {
    color: #98999a;
    text-decoration: none;
    transition: all 0.5s ease;
}

.nav-links ul li a:hover {
    color: #fbfbfb;
}

.nav-links ul li .active {
    color: #fbfbfb;
}

.nav-links .search {
    height: 48px;
    width: 200px;
    background-color: #3d3e42;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    border-radius: 10px;
}

.nav-links .search input {
    border: none;
    background-color: transparent;
    width: 80%;
    color: #fbfbfb;
    outline: none;
}

.nav-links .search input::placeholder {
    color: #98999a;
    font-size: 16px;
}

.nav-links .search i {
    color: #98999a;
}

.landing {
    display: flex;
    height: 90vh;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}

.landing .intro {
    display: flex;
    flex-direction: column;
}

.landing .intro h3 {
    color: #fbfbfb;
    font-weight: 400;
    font-size: 32px;
    margin-left: 10vw;
}

.landing .intro h3 span {
    color: #fec86a;
    font-weight: 600;
    font-size: 3.5rem;
}

.intro button {
    height: 48px;
    width: 144px;
    margin-top: 2.5vh;
    margin-left: 10vw;
    background-color: transparent;
    border: 2px solid #fec86a;
    border-radius: 8px;
    color: #fec86a;
    font-size: 16px;
    transition: all ease 0.5s;
}

.intro button:hover {
    background-color: #fec86a;
    color: #34353b;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50vh;
}

.socials .line {
    background-color: #fec86a;
    height: 15vh;
    width: 2.5px;
}

.socials i {
    color: #fbfbfb;
    font-size: 36px;
}

.about,
.skills,
.portfolio,
.experience,
.education,
.contact-me {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.slide-in {
    transform: translateY(0);
    opacity: 1;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about {
    height: auto;
    width: 100vw;
    padding: 100px;
    background-color: #2c2d31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.about .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
}

.about .description .line {
    height: 2.5px;
    width: 100px;
    background-color: #fec86a;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.about .description p {
    color: #fbfbfb;
    font-size: 20px;
    line-height: 1.6;
    transition: all 0.5s ease-in-out;
}

.about .description p span {
    color: #fec86a;
}

.awards-certifications {
    width: 100vw;
    padding: 50px 100px;
    background-color: #2c2d31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awards-certifications h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 50px;
}

.columns-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.awards-column,
.certifications-column {
    flex: 1;
    margin: 0 20px;
}

.awards-column h2,
.certifications-column h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fec86a;
    margin-bottom: 20px;
}

.awards-certs-details {
    background-color: #3d3e42;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.award-cert-item {
    margin-bottom: 20px;
}

.award-cert-item h3 {
    color: #fec86a;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.award-cert-item p {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.award-cert-item .see-more {
    color: #fec86a;
    text-decoration: none;
    font-size: 16px;
}

.award-cert-item .see-more:hover  {
    text-decoration: underline;
}


#see-all-awards-btn,
#see-less-awards-btn,
#see-all-certs-btn,
#see-less-certs-btn {
    margin-top: 20px;
    height: 48px;
    width: 144px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
}

#see-all-awards-btn:hover,
#see-less-awards-btn:hover,
#see-all-certs-btn:hover,
#see-less-certs-btn:hover {
    background-color: #cc9e4e;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-left {
    flex: 2;
    padding-right: 20px;
}


.modal-right img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.modal-right img:hover {
    transform: scale(1.05);
}

.modal-content h2 {
    font-size: 24px !important; /* Explicitly set font size */
    font-weight: bold !important; /* Explicitly set font weight */
    color: #333 !important; /* Explicitly set text color */
    margin-bottom: 10px !important; /* Add some margin for spacing */
}

.modal-content p {
    font-size: 16px !important; /* Explicitly set font size */
    color: #666 !important; /* Explicitly set text color */
    margin-bottom: 10px !important; /* Add some margin for spacing */
}


.modal-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal-right img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.modal-right img:hover {
    transform: scale(1.05);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.skills h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
}

.skill-card {
    height: 20vw;
    width: 20vw;
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.skill-card:hover {
    background-color: #fec86a;
}

.skill-card img {
    height: 7.5vw;
    width: 7.5vw;
    object-fit: contain;
}

.skill-card h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.portfolio h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    gap: 2.5vh;
}

.portfolio-card {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: #3d3e42;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.portfolio-card img {
    position: relative;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

.portfolio-card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 30vw;
    width: 30vw;
    background-color: #34353ba2;
    align-items: center;
    justify-content: center;
    padding: 24px;
    opacity: 0;
    transition: all ease 0.5s;
}

.portfolio-card .overlay h3 {
    color: #fbfbfb;
    font-size: 24px;
}

.portfolio-card .overlay p {
    color: #fbfbfb;
    font-size: 16px;
    text-align: center;
}

.portfolio-card .overlay button {
    height: 36px;
    width: 108px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 12px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.portfolio-card .overlay:hover {
    opacity: 1;
}

.portfolio button {
    margin-top: 50px;
    height: 48px;
    width: 144px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
}

.portfolio button:hover {
    background-color: #cc9e4e;
}

.experience {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    background-color: #1f2023;
}

.experience h1 {
    color: #fec86a;
    font-size: 56px;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
}

.experience .exp {
    background-color: #2c2d31;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    transition: all 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience .exp:hover {
    background-color: #faeed9;
    transform: scale(1.05);
}

.experience .exp h2 {
    color: #fec86a;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.experience .exp h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.experience .exp ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience .exp ul li {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.exp h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fbfbfb;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.period {
    color: #fec86a;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.exp-desc h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.education {
    width: 100vw;
    padding: 50px 100px;
    background-color: #2c2d31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 50px;
}

.education .edu-details {
    background-color: #3d3e42;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education .edu-details h2 {
    color: #fec86a;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.education .edu-details h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.education .edu-details p {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-me {
    width: 100vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me h1 {
    font-size: 56px;
    color: #fec86a;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

.contact {
    display: flex;
    gap: 24px;
    margin-top: 7.5vh;
}
.contact-card {
    background-color: #fec86a;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.contact-card i {
    font-size: 24px;
    color: #34353b;
}

.contact-card p {
    font-size: 18px;
    color: #34353b;
    margin: 0;
    text-align: center;
}
.separator {
    width: 80%;
    border: none;
    border-top: 2px solid #fec86a;
    margin: 50px auto;
}

#google_translate_element {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3d3e42;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-te-gadget-icon {
    display: none !important;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
    font-size: 14px !important;
    color: #fec86a !important;
}

.goog-te-gadget-simple .goog-te-menu-value span {
    color: #fec86a !important;
}

.goog-te-gadget-simple .goog-te-menu-value span:nth-child(2) {
    display: none !important;
}



       
        @media (max-width: 768px) {
            header {
                padding: 20px;
                background-position: center;
            }

            header nav {
                flex-direction: column;
                align-items: flex-start;
            }

            .hamburger {
                display: flex;
                z-index: 101;
            }
            .nav-links {
                display: none;
                flex-direction: column;
                width: 250px;
                height: 100%;
                background-color: #34353b;
                position: fixed;
                top: 0;
                right: 0;
                padding: 20px;
                z-index: 100;
                transition: transform 0.3s ease;
                transform: translateX(-100%);
            }

            .nav-links.expanded {
                transform: translateX(0);
            }

            .nav-links ul {
                flex-direction: column;
                gap: 20px;
                width: 100%;
            }

            .nav-links ul li {
                width: 100%;
                text-align: left;
            }

            .nav-links .search {
                width: 100%;
                margin-top: 10px;
            }

            .landing {
                flex-direction: column;
                align-items: flex-start;
                height: auto;
                padding: 20px;
            }

            .landing .intro h3 {
                font-size: 24px;
                margin-left: 0;
            }

            .intro button {
                margin-left: 0;
            }

            .socials {
                margin-top: 20px;
            }

            .about {
                padding: 50px 20px;
            }

            .about h1 {
                font-size: 36px;
            }

            .about .description p {
                font-size: 16px;
            }

            .skills {
                padding: 50px 20px;
            }

            .portfolio {
                padding: 50px 20px;
            }

            .portfolio-cards {
                grid-template-columns: 1fr;
            }

            .experience {
                padding: 50px 20px;
            }

            .experience h1 {
                font-size: 36px;
            }

            .experience .exp {
                padding: 20px;
            }

            .experience .exp h2 {
                font-size: 24px;
            }

            .experience .exp h3 {
                font-size: 18px;
            }

            .experience .exp ul li {
                font-size: 14px;
            }

            .education {
                padding: 50px 20px;
            }

            .education h1 {
                font-size: 36px;
            }

            .education .edu-details {
                padding: 20px;
            }

            .education .edu-details h2 {
                font-size: 24px;
            }

            .education .edu-details h3 {
                font-size: 18px;
            }

            .education .edu-details p {
                font-size: 14px;
            }

            .awards-certifications {
                padding: 50px 20px;
            }
        
            .awards-certifications h1 {
                font-size: 36px;
                text-align: center;
            }
        
            .columns-container {
                flex-direction: column;
                align-items: center;
            }
        
            .awards-column,
            .certifications-column {
                margin: 20px 0;
                width: 100%;
            }
        
            .awards-column h2,
            .certifications-column h2 {
                font-size: 24px;
                text-align: center;
            }
        
            .awards-certs-details {
                padding: 20px;
            }
        
            .award-cert-item h3 {
                font-size: 24px;
            }
        
            .award-cert-item p {
                font-size: 16px;
            }
        
            .award-cert-item .see-more{
                font-size: 14px;
            }
        
            #see-all-awards-btn,
            #see-less-awards-btn,
            #see-all-certs-btn,
            #see-less-certs-btn {
                width: 100%;
                height: 48px;
                font-size: 16px;
            }

            .contact-me {
                padding: 50px 20px;
            }
        
            .contact-me h1 {
                font-size: 36px;
                text-align: center;
            }
        
            .contact {
                flex-direction: column;
                gap: 20px;
            }
        
            .contact-card {
                width: 100%;
                height: auto;
                flex-direction: row;
                padding: 20px;
            }
        
            .contact-card i {
                font-size: 20px;
            }
        
            .contact-card p {
                font-size: 16px;
            }
            .separator {
                width: 90%;
            }
            .modal-content {
                padding: 10px;
            }
        
            .modal-right img {
                max-width: 100%;
            }
        }
